<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>nodeapp</title>
  </head>
  <body>
    <h1 style="background-color: red">welcome to nodejs</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid
      necessitatibus voluptatem, magni consequatur adipisci corporis cumque
      voluptates dolorum dicta dolorem vero rem id facilis odit sequi est
      blanditiis tempore quae.
    </p>
  </body>
</html>
